body {
    font-family: "Lato", sans-serif;
}

.main {

    margin-top: 50px;
    font-size: 24px; /* Increased text to enable scrolling */
}

.mybtn{
    background-color:transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    text-align: left;
}
.mylabel{
    /*margin-left: 200px;*/
    float: left;
    margin-left: 200px;
    /*alignment: right;*/


}
.myinput{
    margin-left: 400px;
   /* float: right;
    /*float:;*/
}


input[type="text"], select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #101b2d;
    border-radius: 0;
}

input[type="tel"], select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #101b2d;
    border-radius: 0;
}

input[type="email"], select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #101b2d;
    border-radius: 0;
}

.button1 {
    color: white;
    font-family: "Comic Sans MS";
    background-color: #3cb22c;
    border-top-color: #337e29;
}

.button2 {
    color: white;
    font-family: "Comic Sans MS";
    background-color: #e31e0e;
    border-top-color: #a9281d;
}

.button4 {
    border-radius: 12px;
}

.page-bg, card-body {

    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}